@keyframes shelter-prefs-form-appear {
    from {
        width: 20%;
    }
    to {
        width: 40%;
    }
}

@keyframes shelter-prefs-form-disappear {
    from {
        width: 40%;
    }
    to {
        width: 20%;
    }
}

.shelter-prefs-form-container {
    width: 20%;
}

.shelter-prefs-form-container-enter {
    width: 20%;
}

.shelter-prefs-form-container-enter-active {
    animation-name: shelter-prefs-form-appear;
    animation-duration: 300ms;
}

.shelter-prefs-form-container-enter-done {
    width: 40%;
}

.shelter-prefs-form-container-exit {
    width: 40%;
}

.shelter-prefs-form-container-exit-active {
    animation-name: shelter-prefs-form-disappear;
    animation-duration: 300ms;
}
/*
.shelter-prefs-form-container-exit-done {
    width: 20%;
}
*/
